@charset "utf-8";

@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap);

$primary: #293133;
$link: black;
$warning: red;

@font-face {font-family: "Futura LT";
  src: url("https://db.onlinewebfonts.com/t/6daaeacf369f5c15f3308f379ab05b77.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/6daaeacf369f5c15f3308f379ab05b77.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/6daaeacf369f5c15f3308f379ab05b77.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/6daaeacf369f5c15f3308f379ab05b77.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/6daaeacf369f5c15f3308f379ab05b77.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/6daaeacf369f5c15f3308f379ab05b77.svg#Futura LT") format("svg"); /* iOS 4.1- */
}

// Font
.brand {
  font-family: 'Anton', sans-serif;
  color: black
}

#app {
  font-family: 'Futura LT', sans-serif;
}

.content {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  font-size: 11pt;
}

.hero-body {
  font-family: 'Amatic SC', cursive;
  font-size: 42pt;
  color: black;
  margin-bottom: 2.5rem;
}

.title {
  font-size: 18pt !important;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



// Import only what you need from Bulma
// default
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";

// components
@import "bulma/sass/components/media.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/navbar.sass";

// elements
@import "bulma/sass/elements/_all.sass";

// form
@import "bulma/sass/form/_all.sass";

// grid
@import "bulma/sass/grid/_all.sass";

// layout
@import "bulma/sass/layout/hero.sass";
